body {
    margin: 20px;
    background-color: #F7F7F7;
    font-family: 'Orbitron', sans-serif;
}

.check-btn {
    margin-top: 50px;
    width: 50px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}

header {
    font-size: 2rem;
}

.visible-modal {
    display: flex;
}

.invisible-modal {
    display: none;
}

.gameboard {
    display: flex;
}

.main-column {
    background-color: #e7d1b7;
    padding: 10px;
}

.secret-pattern {
    display: flex;
    margin-bottom: 10px;
}

.attempt-row {
    display: flex;
}

.hole, .secret-ball {
    margin: 5px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.secret-ball {
    background-color: #f5e342;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hole {
    background-color: #5A3300;
}

.feedback-column {
    background-color: #e7d1b7;
    padding: 10px;
    padding-top: 75px;
}

.feedback {
    margin-top: 12px;
}

.feedback-hole {
    height: 20px;
    width: 20px;
    margin: 2px;
    border-radius: 50%;
    background-color: #5A3300;
}

.feedback-row {
    display: flex;
}

.pegs {
    margin-top: 20px;
}

.peg {
    border-radius: 50%;
    border: none;
    height: 50px;
    width: 50px;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
}

.red-peg {
    background-color: red;
}

.blue-peg {
    background-color: blue;
}

.green-peg {
    background-color: green;
}

.khaki-peg {
    background-color: khaki;
}

.purple-peg {
    background-color: purple;
}

.orange-peg {
    background-color: orange;
}

.pink-peg {
    background-color: pink;
}

.teal-peg {
    background-color: teal;
}

.hole {
    color: white;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cursor {
    border-radius: 50%;
    border: none;
    height: 50px;
    width: 50px;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    color: white;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.invisible {
    display: none;
}

.red-cursor {
    background-color: red;
}

.blue-cursor {
    background-color: blue;
}

.green-cursor {
    background-color: green;
}

.khaki-cursor {
    background-color: khaki;
}

.purple-cursor {
    background-color: purple;
}

.orange-cursor {
    background-color: orange;
}

.pink-cursor {
    background-color: pink;
}

.teal-cursor {
    background-color: teal;
}